<header class="top-bar" data-topbar>
    <nav>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">JS Playground</a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li {% if mixture.url == "gum" %}class="current"{% endif %}><a href="/gum">Gumball</a></li>
                <li {% if mixture.url == "draw" %}class="current"{% endif %}><a href="/draw">Draw</a></li>
            </ul>
        </section>
    </nav>
</header>